apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-server-deployment
  labels:
    app: voting-app
    component: server
spec:
  replicas: 1
  selector:
    matchLabels:
      component: server
  template:
    metadata:
      labels:
        app: voting-app
        component: server
    spec:
      containers:
      - name: voting-server
        image: joaquinpicazo/votesys_server:server-latest
        ports:
        - name: tcp-socket
          containerPort: 65432
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        imagePullPolicy: Always
---

apiVersion: v1
kind: Service
metadata:
  name: voting-server-service
  labels:
    app: voting-app
    component: server
spec:
  type: NodePort 
  selector:
    component: server
  ports:
    - protocol: TCP
      port: 65432 
      targetPort: 65432 
